<div class="heart">
    <heart-label class="major">
        {{localize (concat "heart.item.type." document.type)}}
    </heart-label>
    <heart-label class="minor">
        {{localize (concat "heart.ability.type." document.system.type ".short")}}
    </heart-label>

    {{editor document.system.description target="system.description" button=true editable=editable
    owner=owner}}

    {{#if (eq document.system.type "major")}}
    <div class="flex flex-2col">
        {{#each document.system.minorAbilities as |uuid|}}
        {{{ foreignPartial "systems/heart/templates/items/ability/preview.hbs" uuid}}}
        {{/each}}
        {{#if (and user.isGM editable) }}
        <a data-action="add-child" data-type="ability" data-data='{"type": "minor", "name": "New Ability"}'><span
                class="fas fa-plus"></span> {{localize "heart.button.addMinorAbility"}}</a>
        {{/if}}
    </div>
    {{/if}}
</div>