<div class="grid grid-3col skills">
    <div>{{localize "HEART.Skill.label-plural"}}</div>
    <div>{{localize "HEART.common.value"}}</div>
    <div>{{localize "HEART.common.knack"}}</div>

    {{#each skills}}
        <div class="label">{{localize label}}</div>
        <input class="value" type="number" min=0 step=1 name="{{fieldPath}}.value" value="{{value}}"/>
        <input class="protection" type="text" name="{{fieldPath}}.knack" value="{{knack}}"/>
    {{/each}}
</div>