<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        {{#if editable}}
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        {{else}}
        <span>{{replaced_name}}</span>
        {{/if}}
      </h1>
    </div>
  </header>

  {{#if editable}}
  <div class="toolbar">
    {{> "systems/heart/templates/parts/view-mode.hbs" viewMode=viewMode}}
  </div>
  {{/if}}
  
  <div class="fields">
    {{> "systems/heart/templates/parts/field-number.hbs" field=fields.uses editable=editable}}
    {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.description editable=editable}}
  </div>
</form>
