<div class="items">
    {{#each items}}
    <div class="item" data-item-id="{{_id}}">
        <div class="type">
            <i class="fas {{itemIcon type}}" title="{{localize (concat "TYPES.Item." type)}}"></i>

            {{#if subtype }}
            <i class="fas {{itemSubtypeIcon type subtype}}" title="{{localize (concat "HEART.Item." type ".types." subtype)}}"></i>
            {{/if}}
        </div>
        <div class="name">
            {{name}}
        </div>
        {{#if (and editable deletable)}}
            <div data-action="view-item"><i class="fas fa-eye"></i></div>
            <div data-action="delete-item"><i class="fas fa-trash"></i></div>
        {{else}}
            <div></div>
            <div data-action="view-item"><i class="fas fa-eye"></i></div>
        {{/if}}
    </div>
    {{/each}}
</div>